body{
    margin:auto;
}
.container{
    width:55%;
    margin:auto;
    overflow:hidden;
}

#main-header{
    background-color: #333;
    color: rgb(204, 139, 0);
}

#navbar ul{
    list-style-type: none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color: rgb(204, 139, 0);
}

#navbar li{
    float:left;
    padding:0px 12px;
    border-right: 3px solid #333;
}

#navbar  a{
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#showcase {
    background-image: url('../images/Mat.jpg');
    background-position:50%;
    background-repeat: no-repeat;
    height:850px;
    margin-bottom:30px;
    text-align: center;
    color:white;
    background-size: cover;
}
.logreg {
    float:right!important;
}

#location{
    padding-bottom:40px;
    padding-left:700px;
    position: absolute;
}
#location input{
    background-color: white;
    color:black;
    float:left;
    border-radius:50px;
    height:24px;
    margin-top:750px;
    
    padding-left:5px;
}






